body {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

canvas {
	width: 100%;
	height: auto;
	max-width: 100vw; /* Volle Breite des Viewports */
	max-height: 50vh; /* Maximal 80% der Höhe des Viewports */
	/* margin-top: 1rem; */
	margin-right: 1rem; /* Zentriert mit Abstand */
	margin-bottom: 1rem;
}

html {
	overflow-y: scroll;
	scroll-behavior: smooth;
}
